# SPDX-License-Identifier: GPL-2.0-only

config SND_SOC_GS101
	tristate "ASoC Codec drivers for GS101 devices"
	depends on I2C
	depends on GPIOLIB
	select SND_SOC_RT5682_I2C
	select SND_SOC_MAX98357A
	help
	  Enable suppport for ASoC Codecs for GS101 devices. This selects all
	  of the necessary codecs for GS101 SoCs.
	  Select Y/M for GS101 SoCs
