# SPDX-License-Identifier: GPL-2.0

mainmenu "Linux/$(ARCH) $(KERNELVERSION) Kernel Configuration"

source "$(srctree)/Kconfig.base"

source "$(KBUILD_EXT_TREE)/drivers/pci/controller/dwc/Kconfig"

source "$(KBUILD_EXT_TREE)/drivers/scsi/ufs/Kconfig"

source "$(KBUILD_EXT_TREE)/drivers/i2c/busses/Kconfig"

source "$(KBUILD_EXT_TREE)/drivers/spi/Kconfig"

source "$(KBUILD_EXT_TREE)/drivers/pinctrl/Kconfig"
