# SPDX-License-Identifier: GPL-2.0

mainmenu "Linux/$(ARCH) $(KERNELVERSION) Kernel Configuration"

source "$(srctree)/Kconfig.base"

source "$(KBUILD_EXT_TREE)/drivers/pci/controller/dwc/Kconfig"

source "$(KBUILD_EXT_TREE)/drivers/clk/gs/Kconfig"

source "$(KBUILD_EXT_TREE)/drivers/soc/google/Kconfig"

source "$(KBUILD_EXT_TREE)/drivers/char/hw_random/Kconfig"

source "$(KBUILD_EXT_TREE)/drivers/tty/serial/Kconfig"

source "$(KBUILD_EXT_TREE)/drivers/scsi/ufs/Kconfig"

source "$(KBUILD_EXT_TREE)/drivers/i2c/busses/Kconfig"

source "$(KBUILD_EXT_TREE)/drivers/usb/host/Kconfig"

source "$(KBUILD_EXT_TREE)/drivers/usb/dwc3/Kconfig"

source "$(KBUILD_EXT_TREE)/drivers/dma/Kconfig"

source "$(KBUILD_EXT_TREE)/drivers/dma-buf/heaps/Kconfig"

source "$(KBUILD_EXT_TREE)/drivers/spi/Kconfig"

source "$(KBUILD_EXT_TREE)/drivers/pinctrl/Kconfig"

source "$(KBUILD_EXT_TREE)/drivers/watchdog/Kconfig"

source "$(KBUILD_EXT_TREE)/drivers/regulator/Kconfig"

source "$(KBUILD_EXT_TREE)/drivers/mfd/Kconfig"

source "$(KBUILD_EXT_TREE)/drivers/media/platform/Kconfig"

source "$(KBUILD_EXT_TREE)/drivers/clocksource/Kconfig"

source "$(KBUILD_EXT_TREE)/drivers/iommu/Kconfig"

source "$(KBUILD_EXT_TREE)/drivers/cpufreq/Kconfig"

source "$(KBUILD_EXT_TREE)/drivers/devfreq/google/Kconfig"

source "$(KBUILD_EXT_TREE)/drivers/staging/android/Kconfig"
