# SPDX-License-Identifier: GPL-2.0
#
# USB device configuration
#

if USB_SUPPORT

if USB

source "$(KBUILD_EXT_TREE)/drivers/usb/host/Kconfig"

endif

source "$(KBUILD_EXT_TREE)/drivers/usb/dwc3/Kconfig"

source "$(KBUILD_EXT_TREE)/drivers/usb/gadget/Kconfig"

source "$(KBUILD_EXT_TREE)/drivers/usb/typec/Kconfig"

endif # USB_SUPPORT
