# SPDX-License-Identifier: GPL-2.0-only

config SCSI_UFS_PIXEL
	tristate "EXYNOS UFS Host Controller Driver"
	depends on SCSI_UFSHCD && SCSI_UFSHCD_PLATFORM
	help
	  This selects the EXYNOS UFS host controller driver which
	  run with Exynos SoCs.

	  If you have a controller with this interface, say Y or M here.

