# SPDX-License-Identifier: GPL-2.0-only
#
# Generic thermal drivers configuration
#

if THERMAL

menu "Samsung thermal drivers"
depends on (ARCH_EXYNOS || SOC_GOOGLE) || COMPILE_TEST
source "$(KBUILD_EXT_TREE)/drivers/thermal/samsung/Kconfig"
source "$(KBUILD_EXT_TREE)/drivers/thermal/google/Kconfig"
endmenu

endif
